---
import SocialList from "@/components/SocialList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import { getAllPosts, sortMDByDate } from "@/data/post";
import { getAllPosts as getAllNotes, sortMDByDate as sortNotesByDate } from "@/data/notes";
import PageLayout from "@/layouts/Base.astro";

const allNotes = await getAllNotes();
const selectedNotes = [
	"data-science-workflow",
	"bias-and-variance-tradeoff",
	"hypothesis-testing",
	"distributions",
	"modeling",
	"error-handling",
	"regularization",
	"rust",
];
const filteredNotes = allNotes.filter((note) => selectedNotes.includes(note.slug));
const filteredNotesByDate = sortNotesByDate(filteredNotes);

const allProjects = await getAllPosts("projects");
const selectedProjects = [
	"personal-website",
	"covid",
	"fullstack-rust",
	"routing-visualization",
	"change-point",
];
const filteredProjects = allProjects.filter((project) => selectedProjects.includes(project.slug));
const filteredProjectsByDate = sortMDByDate(filteredProjects);
---

<PageLayout meta={{ title: "Home" }}>
	<section class="space-y-4">
		<p>My name is Ben, and I am a Hongkonger.</p>
		<p>
			I studied computer science and statistics during my undergraduate and postgraduate studies at
			The University of Hong Kong. Now I am a data scientist with 4 years of experience as of 2024.
		</p>
		<p>
			My passion is to solve difficult problems with data science. I am also interested in designing
			and implementing complex and antifragile software systems. Moreover, I like to uncover the
			hidden insights or truth in data, and present them in a clear and concise way.
		</p>
		<p>
			In addition, I am seeking for opportunities to make the Hong Kong society better. Welcome to
			contact me if you are doing so and need a hand from a data scientist or an software engineer.
		</p>
		<SocialList />
		<p class="text-sm">
			If you are interested in the source code of this website, please visit <a
				class="cactus-link"
				href="/projects/personal-website">my blog</a
			>
		</p>
	</section>
	<section aria-label="Blog post list" class="mt-12">
		<h2 class="title mb-4 text-xl"><a href="/projects">Selected Projects</a></h2>
		<ul class="space-y-4">
			{
				filteredProjectsByDate.map((p) => (
					<li class="grid gap-2 sm:grid-cols-[auto_1fr] sm:[&_q]:col-start-2">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
	<section aria-label="Blog post list" class="mt-12">
		<h2 class="title mb-4 text-xl"><a href="/notes">Selected notes</a></h2>
		<ul class="space-y-4">
			{
				filteredNotesByDate.map((p) => (
					<li class="grid gap-2 sm:grid-cols-[auto_1fr] sm:[&_q]:col-start-2">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
